@media screen and (min-width:1200px){
   #top  {
    background:#FFD954;
  }
  
  #top p{
    display:inline-block;
    
  }
  
  .side {
    display:inline-block;
    float:right;
    height:1em;
    width:30% !important;
    text-align:center; 
    margin:1em 0;
    position: static; 
  }
  
  .side a {
    margin-left:7%;
    text-decoration:none;
    color:#69491A
  }
  
  .side a:hover{
    color:tomato;
  }
  
  .closebtn{
     display:none;
  }
  
  
  #three{
    display:none; 
  }
  
  
  #welcome{
    background:#E4B660;
    text-align:center;
    font-weight:bold;
    color:#FFE4B5;
    padding-top:3em;
    padding-bottom:3em;
    }
  
  .section1{
    text-align:center;
    margin:2em;
  }
  

  
  .box{
    background:#69491A;
    text-align:center;
    width:585px;
    height:150px;
    padding-top:0.8em;
    float:left;
    
  }
  
  .box12{
    margin:0px auto;
    width:1200px;
  }

  
  #DIV1{
    margin-right:30px;
    margin-bottom:30px;
  }
  
  #DIV2{
    margin-bottom:30px;  
  }
  
  #DIV3{
    margin-right:30px;
    
  }
  
  #DIV4{

  }
  
  #boxhide{
    display:none;
    
  }
  
  #DIV5{
    margin-right:30px;
    margin-bottom:30px;
  }
  
  #DIV6{
    margin-bottom:30px;  
  }
  
  #DIV7{
    margin-right:30px;
    
  }
  
  #DIV8{

  }
  
  #call{
    background:#F2AB39;
    color:#FFE4B5;
    padding:1.5em;
    text-align:center;
    width:100px;
    margin:30px auto;
  }
  
}

@media screen and (min-width:801px) and (max-width: 1199px){
  
  #top  {
    background:#FFD954;
  }
  
  #top p{
    display:inline-block;
    
  }
  
  .side {
    display:inline-block;
    float:right;
    height:1em;
    width:30% !important;
    text-align:center; 
    margin:1em 0;
    position: static; 
  }
  
  .side a {
    margin-left:7%;
    text-decoration:none;
    color:#69491A
  }
  
  .side a:hover{
    color:tomato;
  }
  
  .closebtn{
     display:none;
  }
  
  
  #three{
    display:none; 
  }
  
  #welcome{
    background:#E4B660;
    text-align:center;
    font-weight:bold;
    color:#FFE4B5;
    padding-top:3em;
    padding-bottom:3em;
    }
  
  .section1{
    text-align:center;
    margin:2em;
  }
  

  
  .box{
    background:#69491A;
    text-align:center;
    width:47%;
    height:150px;
    padding-top:0.8em;
    float:left;
  }
  
  .box12{
    margin:0 auto;
    width:100vw;
  }

  
  #DIV1{
      margin-right:2.5%;
    margin-bottom:2.5%;
  }
  
  #DIV2{
    margin-bottom:2.5%;
  }
  
  #DIV3{
      margin-right:2.5%;
  }
  
  #DIV4{

  }
  
  #boxhide{
    display:none;
  }
  
  #DIV5{
    margin-right:2.5%;
    margin-bottom:2.5%;
  }
  
  #DIV6{
    margin-bottom:2.5%;  
  }
  
  #DIV7{
    margin-right:2.5%;
    
  }
  
  #DIV8{

  }
  
  #call{
    background:#F2AB39;
    color:#FFE4B5;
    padding:1.5em;
    text-align:center;
    width:100px;
    margin:2.5% auto;
  }
}

@media screen and (min-width:501px) and (max-width: 800px){
  
   #top  {
    background:#FFD954;
  }
  
  #top p{
    display:inline-block;
  }
  
  #three{
    display:inline-block;
    float:right;
    height:30px;
    text-align:center; 
    margin:10px 3%;
  }
  
  .side{
    height:100%;
    width:0px;
    position:fixed;
    z-index:1;
    top:0;
    right:0;
    background-color:#F2AB39;
    overflow-x:hidden;
    transition:0.5s;
    padding-top:60px;
    white-space:nowrap;
  }
  
  .side a{
    padding:8px 8px 8px 32px;
    text-decoration:none;
    font-size:2em;
    color:#FFDEAD;
    display:block;
    transition:0.3s;
  }
  
  .side a:hover {
    color:#f1f1f1;
  }
  
  .side .closebtn{
    position:absolute;
    top:0;
    right:25px;
    font-size:36px;
    margin-left:50px;
    overflow:hidden;
  }
  
  
  #welcome{
    background:#E4B660;
    text-align:center;
    font-weight:bold;
    color:#FFE4B5;
    padding-top:3em;
    padding-bottom:3em;
    }
  
  .section1{
    text-align:center;
    margin:2em;
  }
  

  
  .box{
    background:#69491A;
    text-align:center;
    width:47%;
    height:150px;
    padding-top:0.8em;
    float:left;
  }
  
  .box12{
    margin : 0 auto;
  }

  
  #DIV1{
      margin-right:2.5%;
    margin-bottom:2.5%;
  }
  
  #DIV2{
      margin-bottom:2.5%;
  }
  
  #DIV3{
      margin-right:2.5%;
  }
  
  #DIV4{
      
  }
  
   #boxhide{
    display:none;
  }
  
  #DIV5{
    margin-right:2.5%;
    margin-bottom:2.5%;
  }
  
  #DIV6{
    margin-bottom:2.5%;  
  }
  
  #DIV7{
    margin-right:2.5%;
    
  }
  
  #DIV8{

  }
  
  #call{
    background:#F2AB39;
    color:#FFE4B5;
    padding:1.5em;
    text-align:center;
    width:100px;
    margin:2.5% auto;
  }
}

@media screen and (max-width:500px){
  
  #top  {
    background:#FFD954;
  }
  
  #top p{
    display:inline-block;
  }
  
  #three{
    display:inline-block;
    float:right;
    height:30px;
    text-align:center; 
    margin:10px 3%;
  }
  
  .side{
    height:100%;
    width:0px;
    position:fixed;
    z-index:1;
    top:0;
    right:0;
    background-color:#F2AB39;
    overflow-x:hidden;
    transition:0.5s;
    padding-top:60px;
    white-space:nowrap;
  }
  
  .side a{
    padding:8px 8px 8px 32px;
    text-decoration:none;
    font-size:2em;
    color:#FFDEAD;
    display:block;
    transition:0.3s;
  }
  
  .side a:hover {
    color:#f1f1f1;
  }
  
  .side .closebtn{
    position:absolute;
    top:0;
    right:25px;
    font-size:36px;
    margin-left:50px;
    overflow:hidden;
  }
  
  #welcome{
    background:#E4B660;
    text-align:center;
    font-weight:bold;
    color:#FFE4B5;
    padding-top:3em;
    padding-bottom:3em;
    }
  
  .section1{
    text-align:center;
    margin:2em;
  }
  

  
  .box{
    background:#69491A;
    text-align:center;
    width:99%;
    height:150px;
    margin:2.5% auto 0 auto;
    padding-top:0.8em;
  }
  

  
  #DIV1{ 
    margin-top:0px;
  }
  
   #boxhide{
    display:none;
  }
  
  #DIV5{
    margin-top:0px;
  }
  

  
  #call{
    background:#F2AB39;
    color:#FFE4B5;
    padding:1.5em;
    text-align:center;
    width:100px;
    margin:2.5% auto;
  }
}


