@media screen and (min-width:1200px){
   #top  {
    background:whitesmoke;
  }
  
  #top p{
    display:inline-block;
    
  }
  #top ul{
    display:inline-block;
    float:right;
    text-decoration:none;
    
  }
  #top ul li {
    list-style:none;
    display:inline;
    margin:30px;
    text-decoration:none;
  }
  
  #top ul li a{
    text-decoration:none;
  }
  
  #menu{
    display:none;
  }
  
  
  #welcome{
    background:lavender;
    text-align:center;
    font-weight:bold;
    padding-top:3em;
    padding-bottom:3em;
    }
  
  .section1{
    text-align:center;
    margin:2em;
  }
  

  
  .box{
    background:slategray;
    text-align:center;
    width:585px;
    height:150px;
    margin-bottom:30px;
    padding-top:0.8em;
    float:left;
    
  }
  
  .box12{
    margin:0px auto;
    width:1200px;
  }

  
  #DIV1{
      margin-right:30px;
  }
  
  #DIV2{
      
  }
  
  #DIV3{
      margin-right:30px;
  }
  
  #DIV4{

  }
  
  #call{
    background:lavender;
    padding:1.5em;
    text-align:center;
    width:100px;
    margin:0px auto;
  }
  
}

@media screen and (min-width:800px) and (max-width: 1200px){
  
     #top  {
    background:whitesmoke;
  }
  
  #top p{
    display:inline-block;
    
  }
  #top ul{
    display:inline-block;
    float:right;
    
  }
  #top ul li {
    list-style:none;
    display:inline;
    margin:30px;
  }
  
  #top ul li a{
    text-decoration:none;
  }
  
  #menu{
    display:none;
   
  }
  
  #welcome{
    background:lavender;
    text-align:center;
    font-weight:bold;
    padding-top:3em;
    padding-bottom:3em;
    }
  
  .section1{
    text-align:center;
    margin:2em;
  }
  

  
  .box{
    background:slategray;
    text-align:center;
    width:47%;
    height:150px;
    margin-bottom:2.5%;
    padding-top:0.8em;
    float:left;
  }
  
  .box12{
    margin:0 auto;
    width:100vw;
  }

  
  #DIV1{
      margin-right:2.5%;
  }
  
  #DIV2{
      
  }
  
  #DIV3{
      margin-right:2.5%;
  }
  
  #DIV4{

  }
  
  #call{
    background:lavender;
    padding:1.5em;
    text-align:center;
    width:100px;
    margin:0 auto;
  }
}

@media screen and (min-width:500px) and (max-width: 800px){
  
   #top  {
    background:whitesmoke;
  }
  
  #top p{
    display:inline-block;
  }
  
  #mother{
    display:inline-block;
    height:30px;
    float:right;
    list-style:none;
    padding-left:0;
    margin-right:5%;
    overflow:auto;
  }
  
  #menu{
    display:block;
    float:left;
    height:30px;
    text-align:center; 
    margin:0 auto;
    padding-left:9px;
    text-decoration:none;
  }
  
  #menu:hover{
    color: #000000;
  }
 
  
  #mother li:hover > ul{
    display:block;
 
  }
  
  #child{
    position:absolute;
    width:50px;
    overflow:visible;
    clear:left;
    margin:34px 0 0 0;
    list-style:none;
    padding-left:0px;
    background-color:whitesmoke;
    display:none;
  }
  
  #child li{
    float:none;
    text-align:center;
    margin-bottom:10px;
  }
  
  #child li a {
    float:none;
	  width: 100%;
    text-decoration:none;
  }
  
  
  
  #welcome{
    background:lavender;
    text-align:center;
    font-weight:bold;
    padding-top:3em;
    padding-bottom:3em;
    }
  
  .section1{
    text-align:center;
    margin:2em;
  }
  

  
  .box{
    background:slategray;
    text-align:center;
    width:47%;
    height:150px;
    margin-bottom:2.5%;
    padding-top:0.8em;
    float:left;
  }
  
  .box12{
    margin : 0 auto;
  }

  
  #DIV1{
      margin-right:2.5%;
  }
  
  #DIV2{
      
  }
  
  #DIV3{
      margin-right:2.5%;
  }
  
  #DIV4{
      
  }
  
  #call{
    background:lavender;
    padding:1.5em;
    text-align:center;
    width:100px;
    margin:0 auto;
  }
}

@media screen and (max-width:500px){
  
    #top  {
    background:whitesmoke;
  }
  
  #top p{
    display:inline-block;
  }
  
  #mother{
    display:inline-block;
    height:30px;
    float:right;
    list-style:none;
    padding-left:0;
    margin-right:5%;
    overflow:auto;
  }
  
  #menu{
    display:block;
    float:left;
    height:30px;
    text-align:center; 
    margin:0 auto;
    padding-left:9px;
    text-decoration:none;
  }
  
  #menu:hover{
    color: #000000;
  }
 
  
  #mother li:hover > ul{
    display:block;
 
  }
  
  #child{
    position:absolute;
    width:50px;
    overflow:visible;
    clear:left;
    margin:34px 0 0 0;
    list-style:none;
    padding-left:0px;
    background-color:whitesmoke;
    display:none;
  }
  
  #child li{
    float:none;
    text-align:center;
    margin-bottom:10px;
  }
  
  #child li a {
    float:none;
	  width: 100%;
    text-decoration:none;
  }
  
  #welcome{
    background:lavender;
    text-align:center;
    font-weight:bold;
    padding-top:3em;
    padding-bottom:3em;
    }
  
  .section1{
    text-align:center;
    margin:2em;
  }
  

  
  .box{
    background:slategray;
    text-align:center;
    width:99%;
    height:150px;
    margin:0 auto 2.5% auto;
    padding-top:0.8em;
  }
  

  
  #DIV1{
      
  }
  
  #DIV2{
      
  }
  
  #DIV3{
  }
  
  #DIV4{
      
  }
  
  #call{
    background:lavender;
    padding:1.5em;
    text-align:center;
    width:100px;
    margin:0 auto;
  }
}


